.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 20px;
}

.header {
  padding: 30px 80px 40px;
  background: center / cover no-repeat #fff url("../images/background_header.svg");
  position: relative;
  background-size: cover;
  margin: auto;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  gap: 20px;
  list-style-type: none;
  text-decoration: none;
  color: #6f6f6f;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px
}

a:link {
  text-decoration: none;
}

.nav__logo {
  left: -50px;
  width: 105px;
  height: 39px;
  position: relative;
}

.header__title {
  margin: 183px 0 0;
  max-width: 729px;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display:block;
  font-family: "Noto Serif";
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #3F96F3;
}

.header__description {
  margin: 28px 0 0;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
}
.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  width: 656px;
  height: 568px;
}

.header__paragraph {
  margin: 0;
}

.header_footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.recipes {
  color: #fff;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 100px 80px 215px;

}

.recipes__title {
  margin: 0 0 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;

}

.recipes__subtitle {
  margin: 0 0 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  border: none;
}

.reservation {
  padding: 100px 0 12px;
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.name__input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.form__label {

}

.form__input {
  border-radius: 4px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 8px 0 32px;
  border: 1px solid #838383;

}

.form__button {
  border-radius: 4px;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 32px;
  border: none;
  background-color: #1878dc;
  color:#fff;
  transition: background-color 0.3s ease;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox-container {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 120px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
}
